NODE_ENV= # development | production

PORT=4000

BASE_URL=http://localhost:5000

MONGODB_URI = mongodb://127.0.0.1:27017/shop
REDIS_URL = redis://localhost:6379

JWT_SECRET = asdasdfksdjfsdflksdjfklsjdkfjsdklf

# Zarinpal
ZARINPAL_MERCHANT_ID=test-merchant-id
ZARINPAL_REQUEST_API_URL=https://sandbox.zarinpal.com/pg/v4/payment/request.json
ZARINPAL_VERIFY_API_URL=https://sandbox.zarinpal.com/pg/v4/payment/verify.json
